* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

ul, ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: var(--font);
    font-size: 1rem;
}

:root {
    --gray-background-color : rgb(230, 230, 230);
    --font :  Arial, Helvetica, sans-serif;
    --font-color : rgb(80, 80, 80);
}

/* nav */

nav {
    height: 4rem;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    align-items: center;
    padding: 0 1.5rem;
    font-size: 1rem;
    font-family: var(--font);
}

.logo img {
    height: 2.5rem;
}

#logo1 {
    color: rgb(70, 70, 70);
    font-weight: 550;
    padding: 0;
}

#logo2 {
    color: var(--font-color);
    padding: 0;
}

.navbar {
    margin-left: auto;
    padding-right: 1rem;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    font-family: var(--font);
    color: var(--font-color);
    font-size: 0.9rem;
    padding: 0.5rem;
}

/* first section */

.learn {
    display: flex;
    position: relative;
    top: 4rem;
    background-color: var(--gray-background-color);
}

.banner {
    width: 60%;
    height: auto;
    padding: 2rem 1.5rem;
}

.banner img {
    width: 100%
}

#learn-text {
    margin: auto 0;
    width: 25%
}

#learn-text h1, h4, p {
    padding: 1rem 0;
}


#learn-text h1 {
    font-size: 2rem;
    color: rgb(70, 70, 70);
    font-weight: 700;
}

#learn-text h4 {
    font-size: 1.1rem;
    color: rgb(70, 70, 70);

}

#learn-text p {
    text-align: center;
    color: white;
    background-color: rgb(70, 70, 70);
    font-size: 0.9rem;
    padding: 0.5rem 0;
}

/* second section */

.info {
    position: relative;
    top: 4rem;
    display: flex;
    background-color: white;
}

.info-desc {
    width: 60%;
    padding: 2rem 1.5rem;
    border-right: 3px rgb(230, 230, 230) solid
}

.info-desc img {
    width: 100%;
}

.info-main {
    padding: 1.66rem 0;
}

.info-main h2, h5, p {
    padding: 0.75rem;
    color: rgb(70, 70, 70)
}

.info-main h2 {
    font-size: 2rem;
    font-weight: 700;
}

.info-main h5 {
    font-size: 1rem;
    font-weight: 100;
}

.info-main p {
    font-size: 0.8rem;
    font-weight: 550;
}

.dates {
    width: 40%;
}

.block {
    display: flex;
    border-bottom: 4px rgb(230, 230, 230) solid;
}

.block img {
    max-width: 35%;
    height: 35%;
    padding: 1rem;
}

.block .textblock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textblock h3, h6, p {
    padding: 0.5rem;
    color: rgb(70, 70, 70)
}

.textblock h3 {
    font-size: 1.2rem;
    font-weight: 550;
}

.textblock h6 {
    font-size: 0.9rem;
    font-weight: 100;
    color: var(--font-color)
}

.textblock p {
    color: rgb(80, 169, 232);
    font-size: 0.9rem;
}

.gray {
    background-color: rgb(230, 230, 230);
}

/* third section */

.classes {
    position: relative;
    top: 4rem;
    width: 100%;
    background-color: var(--gray-background-color);
}

.classes h1 {
    text-align: center;
    padding: 2rem;
    color: rgb(70, 70, 70);
    font-size: 2rem;
    font-weight: 700;
}

.grid {
    padding: 0 6rem 2rem 6rem;
    display: grid;
    grid: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 2rem;
}

.grid-block {
    background-color: white;
}

.grid-block img {
    height: auto;
    width: 100%;
}

.grid-block h3 {
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 550;
    color: rgb(70, 70, 70)
}

.grid-block h6 {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 100;
    color: rgb(70, 70, 70);
}

.grid-block p {
    padding: 0.5rem 1rem 2rem 1rem;
    color: rgb(70, 70, 70);
}

/* thesis */

.thesis-title {
    position: relative;
    top: 4rem;
}

.thesis-title h1 {
    text-align: center;
    padding: 2rem;
    color: rgb(70, 70, 70);
    font-size: 2rem;
    font-weight: 700;
}

.thesis {
    position: relative;
    top: 4rem;
    display: flex;
}

.thesis-vid {
    width: 60%;
    padding: 0 1.5rem 2rem 1.5rem;
}

.thesis-vid video {
    width: 100%;
    height: auto;
}

.thesis-desc {
    padding-top: 1.5rem;
}

.thesis-desc h4 {
    font-size: 1.2rem;
    font-weight: 550;
    color: rgb(70, 70, 70);
}

.thesis-desc p {
    padding: 0;
}

.sidebar {
    width: 40%;
}

.block2 {
    display: flex;
}

.block2 img {
    width: 35%;
    height: auto;
    padding: 1rem;
}

.block2 .sidetext {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidetext h6, h3{
    padding: 0.5rem 0;
}

.sidetext h3 {
    font-size: 1.2rem;
    font-weight: 550;
    color: rgb(70, 70, 70);
}

.sidetext h6 {
    font-size: 0.9rem;
    font-weight: 100;
    color: var(--font-color)
}

/* footer */

footer {
    position: relative;
    display: flex;
    width: 100%;
    top: 4rem;
    border-top: 0.2rem solid var(--gray-background-color)
}

footer p {
    font-size: 0.75rem;
    padding: 1rem 1.5rem;
}

#flist {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    padding: 1rem 1.5rem;
}

#flist li {
    font-size: 0.75rem;
    padding: 0rem 0.5rem;
    color: rgb(150, 150, 150);
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

/* the end */