* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

ul, ol {
    list-style: none;
}

:root {
    --gray-background : lightgray;
    --white-background : white;
}

/* Navigation */
nav {
    position: fixed;
    height: 4rem;
    width: 100%;
    background-color: var(--white-background);
    z-index: 10;
    display: flex;
    align-items: center;
}

.logo {
    height: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: inline-flex;
    align-items: center;
}

.logo img {
    height: 2rem;
}

.logo2 {
    font-size: 1.2rem;
    color: rgb(50, 50, 50);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.logo3 {
    font-size: 1.2rem;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.navbar {
    margin-left: auto;
    display: flex;
    padding-right: 1rem;
}

.navbar p {
    padding: 0 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(112, 112, 112);
}

/* Opener */

.desc {
    display: inline-flex;
    position: relative;
    top: 4rem;
    width: 100%;
    height: auto;
    background: var(--gray-background);
}

.desc-img {
    padding: 2rem 1.5rem;
    width: 60%;
}

.desc-block {
    display: flexbox;
    align-self: center;
    justify-content: start;
}

.desc-block p, h2, h5 {
    padding: 1.75rem;
}

.desc-block p {

}

.desc-block h2 {

}