body {
    background-color: rgb(10, 10, 10)
}

/* Navigation Bar */

.nav-bar {
    display: flex;
    height: 7rem;
    width: 100%;
    background-color: rgb(15, 15, 15);
    z-index: 10;
    align-items: center;
    position: fixed;
    border-bottom: 0.05rem solid seashell;
}

#logo {
    display: flex;
    max-height: 95%;
    background-color: seashell;
    margin-left: 2rem;
    border-radius: 100%;
    flex-grow: 1;
    max-width: 6.65rem;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
}

.nav-list li {
    display: inline-flex;
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    padding: 3rem;
    color: seashell;
}

/* Main Page Opening/Description */

main {
    position: relative;
    top: 7rem;
}

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    background-size: cover;
    background-image: url(../images/coffee_shop_background.jpg);
    border-bottom: 0.05rem solid seashell;
    
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50rem;
    height: 20rem;
    background-color: seashell;
    border: 0.25rem solid rgb(10, 10, 10);
    border-radius: 1rem;
}

#title {
    font-size: 7rem;
    font-family: 'Courgette', cursive;
}

#browse {
    font-size: 2rem;
    font-family: 'Zeyada', cursive;
    color: gray;
    margin-top: 5rem;
}

#browse:hover {
    color: red;
    font-size: 2rem;
}

#browser:active {
    color: black;
}

/* Description */

.desc {
    margin-top: 3.1rem;
    height: 40rem;
}

.desc-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'DM Serif Display', serif;
    color: seashell;
    background-color: rgb(10, 10, 10);
    padding: 1.5rem;
}

.container-box {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 2rem 15rem;
}

.container {
    width: 25rem;
    height: 30rem;
    border: 0.05rem solid seashell;
    border-radius: 1rem;
    background-color: rgb(15,15,15);
}

.one p {
    font-size: 2rem;
    font-family: 'Zeyada', cursive;
    font-weight: 600;
    color: seashell;
    width: 95%;
    padding: 2.5%;
    text-align: center;
    margin-top: 2rem;
}

.one img {
    width: 90%;
    margin: 5%;
}

.two p {
    font-size: 2rem;
    font-family: 'Zeyada', cursive;
    font-weight: 600;
    color: seashell;
    width: 95%;
    padding: 2.5%;
    text-align: center;
    margin-top: 2rem;
}

.two img {
    width: 90%;
    margin: 5%;
}

/* Products */

.product-page {
    margin-top: 4rem;
    height: 45rem;
}

.product-title p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'DM Serif Display', serif;
    color: seashell;
    background-color: rgb(10, 10, 10);
    padding: 1.5rem;
}

.products {
    height: 38rem;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.product-container {
    width: 20rem;
    height: 25rem;
    border: 0.05rem solid seashell;
    border-radius: 1rem;
    background-color: rgb(15, 15, 15);
}

.product-container img {
    width: 90%;
    margin: 5%;
    height: 11rem
}

.product-container p {
    font-size: 2rem;
    font-family: 'Zeyada', cursive;
    font-weight: 600;
    color: seashell;
    text-align: center;
}

.price {
    font-size: 1.2rem !important;
    font-family: 'DM Serif Display', serif !important;
}

.order-button {
    display: flex;
    justify-content: center;
    background-color: seashell;
    width: 40%;
    margin: 2rem 30%;
    border-radius: 5rem;
}

.order-button h4 {
    font-size: 1.5rem;
    font-family: 'Zeyada', cursive;
    color: black;
}

/* Review */

